:root {
  --is-bg-navbar: #f5f9fa;
  --is-color-border: #6c757d70;
  --is-color-icon: #5f5f5fff;
  --is-color-green: #41B69D;
  --is-color-line: #E6E6E6;
  --is-color-number: #485293;
  --is-color-success: #41b69d37;
  --is-color-error: rgba(255, 0, 0, 0.221);
}

.container {
  width: 95%;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;  
}